:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  --nimi-font-color: rgba(255, 255, 255, 0.87);
  --nimi-background-color: #2e251b;
  --nimi-header-color: rgb(60, 97, 75);
  --nimi-link-color: rgb(167, 207, 181);
  color: var(--nimi-font-color);
  background-color: var(--nimi-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--nimi-link-color);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: rgb(154, 219, 211);
}

body {
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  & > section,
  & > main {
    width: 100%;
  }
}

#hero {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 56.25vw;
  max-height: 27rem;
  display: flex;
  justify-content: center;
  background-color: rgb(208, 208, 208);
  background-image: url("/nonstop-nimi-nightmare-frame1.png");
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  video {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}

main {
  background-image: linear-gradient(
    to bottom,
    rgb(208, 208, 208),
    var(--nimi-background-color) 3rem
  );
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;

  & > section {
    text-align: center;
  }
}

.nimi-name {
  color: transparent;
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--nimi-link-color), #dde 40%),
    color-mix(in srgb, var(--nimi-link-color), #112 40%)
  );
  background-clip: text;
}

.spacer {
  flex-grow: 1;
}

footer {
  margin-top: -0.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: color-mix(in srgb, var(--nimi-font-color), black 40%);
}

h1,
h2,
h3 {
  margin: 0;
}
p {
  margin-block: 0.25rem;
}
